<script type="text/javascript">
  window.location.href='/users/new'
</script>

<!--p id="notice"><%= notice %></p>

<h1>
  <strong>Pin:</strong>
  <%= @user.pin %>
</h1>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Conf password:</strong>
  <%= @user.conf_password %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>




<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %-->
